# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
backend/.env

# Python
backend/venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/
frontend/.env

# Face data
backend/app/face/data/
*.pkl
